@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKOzY.woff2") format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#nameText {
  animation: effect 27s ease-in-out infinite;
}

@keyframes effect {
  0% {
      color: #8be9fd
  }

  25% {
    color: #50fa7b
  }

  50% {
    color: #bd93f9
  }

  75% {
    color: #ffb86c
  }

  100% {
      color: #8be9fd
  }
}
